Source: haveged
Section: misc
Priority: extra
Maintainer: Jérémy Bobbio <lunar@debian.org>
Build-Depends: debhelper (>= 9), dh-autoreconf, dh-systemd
Standards-Version: 3.9.4
Homepage: http://www.issihosts.com/haveged/
Vcs-Git: git://git.debian.org/git/collab-maint/haveged.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/haveged.git

Package: haveged
Architecture: linux-any
Depends: lsb-base (>= 3.2-14), ${shlibs:Depends}, ${misc:Depends}
Description: Linux entropy source using the HAVEGE algorithm
 haveged is a userspace entropy daemon which is not dependent upon the
 standard mechanisms for harvesting randomness for the system entropy
 pool. This is important in systems with high entropy needs or limited
 user interaction (e.g. headless servers).
 .
 haveged uses HAVEGE (HArdware Volatile Entropy Gathering and Expansion)
 to maintain a 1M pool of random bytes used to fill /dev/random
 whenever the supply of random bits in dev/random falls below the low
 water mark of the device.
 .
 More information about HAVEGE is available at
 http://www.irisa.fr/caps/projects/hipsor/

Package: libhavege1
Section: libs
Architecture: linux-any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: entropy source using the HAVEGE algorithm - shared library
 libhavege is a library that implements the HAVEGE (HArdware Volatile Entropy
 Gathering and Expansion). It provides a random number generator and it's
 associated tuning and testing factilities.
 .
 More information about HAVEGE is available at
 http://www.irisa.fr/caps/projects/hipsor/
 .
 This package contains the shared library.

Package: libhavege1-dbg
Section: debug
Architecture: linux-any
Multi-Arch: same
Depends: libhavege1 (= ${binary:Version}), ${misc:Depends}
Description: entropy source using the HAVEGE algorithm - debug symbols
 libhavege is a library that implements the HAVEGE (HArdware Volatile Entropy
 Gathering and Expansion). It provides a random number generator and it's
 associated tuning and testing factilities.
 .
 More information about HAVEGE is available at
 http://www.irisa.fr/caps/projects/hipsor/
 .
 This package contains the debug symbols.

Package: libhavege-dev
Section: libdevel
Architecture: linux-any
Depends: libhavege1 (= ${binary:Version}), ${misc:Depends}
Description: entropy source using the HAVEGE algorithm - development files
 libhavege is a library that implements the HAVEGE (HArdware Volatile Entropy
 Gathering and Expansion). It provides a random number generator and it's
 associated tuning and testing factilities.
 .
 More information about HAVEGE is available at
 http://www.irisa.fr/caps/projects/hipsor/
 .
 This package contains the development files.
